body {
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.item-wrap {
    max-width: 500px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 16px;
}

.f8-btn {
    display: block;
    text-decoration: none;
    padding: 20px;
    background-color: rgb(22, 88, 232);
    color: #fff;
    border-radius: 10px;
    font-weight: 600;
}

.f8-btn + .f8-btn {
    margin-top: 10px;
}

.selector-container {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 16px;
}

.selector-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid #eee;
}

.selector-header__left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.selected-counter {
    color: #757575;
    font-size: 14px;
}

.selector-list {
    list-style: none;
    padding: 12px 0 0;
    margin: 0;
}

.tabs {
    margin-top: 20px;
}

.tab-list {
    display: flex;
    border-bottom: 1px solid #ccc;
}

.tab-item {
    padding: 12px 24px;
    cursor: pointer;
    background-color: #f1f1f1;
    border: 1px solid transparent;
    border-bottom: none;
    border-radius: 6px 6px 0 0;
    font-weight: 500;
    color: #555;
    transition: all 0.2s ease-in-out;
}

.tab-item:hover {
    background-color: #e2e2e2;
    color: #333;
}

.tab-item.active {
    background-color: #fff;
    border-color: #ccc;
    border-bottom-color: #fff;
    color: #007bff;
    position: relative;
    top: 1px;
}

.tab-content {
    padding: 20px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 6px 6px;
    background-color: #fff;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}
